* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Old Standard TT', serif;
    color: rgb(51, 51, 51);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.jd-slideshow,
.jd-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.jd-slideshow-text,
.jd-slideshow-text:after {
    position: relative;
    width: 100%;
    top:0px;
    z-index: 0;
    list-style-type: none;
}

.jd-slideshow:after {
    content: '';
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.639),
        rgba(165, 165, 165, 0.66)

      );
}

.jd-slideshow-text:after {
    content: '';
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.461),
        rgba(255, 255, 255, 0.66)

      );
}

.jd-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 40s linear infinite 0s;
}

.jd-slideshow-text li div {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    opacity: 0;
    animation: titleAnimation 40s linear infinite 0s;
}

.jd-slideshow-text li div p {
    padding: 0;
    line-height: 1.25;
    margin-top: 0;
}

.jd-slideshow li:nth-child(1) span {
    /*background-image: url('images/pianoBackgroundEditL.jpeg')*/
    background-image: url('images/springBackgroundD.png');
    /*background-position: bottom left;*/
}

.jd-slideshow li:nth-child(2) span {
    background-image: url('images/TapB.jpg');
    animation-delay: 8s;
}

.jd-slideshow li:nth-child(3) span {
    /*background-image: url('images/DeskLaptopTest6.png');*/
    background-image: url('images/pianoBackgroundEditL.jpeg');
    animation-delay: 16s;
}

.jd-slideshow li:nth-child(4) span {
    background-image: url('images/TapFloorA.jpg');
    animation-delay: 24s;
}

.jd-slideshow li:nth-child(5) span {
    /*background-image: url('images/studioBackgroundA.jpg');*/
    background-image: url('images/easterWebsiteImageC.png');
    animation-delay: 32s;
}

.jd-slideshow-text li:nth-child(2) div {
    animation-delay: 8s;
}

.jd-slideshow-text li:nth-child(3) div {
    animation-delay: 16s;
}

.jd-slideshow-text li:nth-child(4) div {
    animation-delay: 24s;
}

.jd-slideshow-text li:nth-child(5) div {
    animation-delay: 32s;
}

@keyframes imageAnimation {
    0% { opacity:0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation {
    0% { opacity:0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .jd-slideshow li span {
    opacity: 1;
}

.body-container {
    position: relative;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar,
footer {
    padding: 3% 4%;
    background-color: rgb(136, 174, 102);
    color: white;
    font-size: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.navbar a, .social a {
    color: white;
    text-decoration: none;
}

.logo {
    width: 50px;
    display: block;
}

.logo-link:hover {
    border: 2px gold solid;
}

.hamburger {
    background-color:rgb(136, 174, 102);
    border: 0;
    padding: 5px 5px;
    cursor: pointer;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.hamburger:hover {
    background-color: gold;
}

.margin {
    margin-top: 4px;
}
  
.navbar a:hover {
    color: gold;
}

.menu {
    display: none;
}

.tech-payment-header {
    display: flex;
    list-style-type: none;
    font-family: 'Questrial', sans-serif;
}

.slider-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgb(136, 174, 102, 0.671),
        rgb(136, 174, 102, 0.986)
      );
    position: absolute;
    right: -100%;
    visibility: hidden;
    pointer-events: none;
    transition: .2s all linear;
    padding: 2.5% 3%;
    list-style-type: none;
}

.slider-menu a {
    font-family: 'Questrial', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-decoration: none;
    cursor: pointer;
}

.slider-menu a:hover {
    color: gold;
}

.active {
    visibility: visible;
    pointer-events: inherit;
    transition: .2s all ease-in-out;
    right: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0 5% 12% 5%;
}

h1 {
    font-family: Oriya MN; 
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px white;
}

.bold-text {
    display: block;
    font-size: 50px;
    font-weight: 500;
}

header p {
    line-height: 1.5;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px black;
    color: ghostwhite;
    font-weight: lighter;
}

.main-jumper {
    position: relative; 
    top: 75px; 
    font-size: 30px;
}

.margin-change {
    display: none;
}

p {
    margin-top: 6%;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .5px;
    text-shadow: 2px 2px 2px white;
}

.details-button {
    display: block;
    text-decoration: none;
    color: rgb(86, 141, 170);
    margin-top: 100px;
}

main {
    margin-bottom: 15%;
}

.valentines {
    text-align: left;
    min-height: 200px;
    padding: 20% 12%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.562),
        rgba(255, 255, 255, 0.256)
      ),
      url('images/easterWebsiteImageB.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}

.canvas {
    text-align: left;
    min-height: 200px;
    padding: 20% 12%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.342),
        rgba(255, 255, 255, 0.562)
      ),
      url('images/canvasBackgroundD.jpg');
    background-size: cover;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}

.class-flyer {
    background-image: url('images/springBackground.png'); 
    background-position: bottom center;
}

.main-class-info {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 98%; 
    max-width: 426px; 
    box-shadow: 4px 4px 10px;
}

h2 {
    font-family: 'Questrial', sans-serif;
    color: rgb(86, 141, 170);
    text-shadow: 1px 1px black;
    margin-bottom: 9%;
}

.valentines h2 {
    color: rgb(28, 96, 133);
    text-shadow: 1px 1px 1px white;
}

.orange-title {
    color: rgb(255, 153, 0);
}

.button {
    display: inline-block;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 23px;
    background: linear-gradient(
        to bottom,
        rgb(193, 164, 0),
        gold
    );
    color: white;
    text-shadow: 1px 1px gray;
    border: 2px white solid;
    border-radius: 5px;
    padding: 1.5% 3%;
    margin: 6% 0 4% 0;
    cursor: pointer;   
}

.button:hover {
    text-shadow: 1px 1px silver;
    border: 2px silver solid;
}

.back {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}

.button-vocal {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    width: 250px;
}

.button-register {
    display: block;
    margin: 2% auto 0 auto;
    text-align: center;
    width: 200px; 
}

.toggle-button {
    background: linear-gradient(
        to bottom,
        rgb(193, 164, 0),
        gold
    );
    color: ghostwhite;
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
    text-shadow: 1px 1px rgb(67, 67, 67);
    border-color: rgb(86, 141, 170);
    border-radius: 5px;
    padding: 2% 2%;
    margin-bottom: 5%;
    width: 100%;
}

.toggle-button:hover {
    text-shadow: 1px 1px silver;
    border: 2px silver solid;
}

.hidden {
    display: none;
}

.rotated {
    transform: rotate(180deg);
    animation: blink 1.5s ease-in infinite;
}

.toggle-button .fa-angle-double-down {
    color: rgb(86, 141, 170);
    text-shadow: none;
    margin-left: 2%;
}

.music-stand {
    width: 40%;
    max-width: 150px;
    margin-left: 5%;
    float: right;
}

.tap-shoes {
    width: 50%;
    max-width: 200px;
    margin-left: 5%;
    float: right;
}

.canvas ul li {
    margin-top: 5px;
}

.lesson-title {
    display: none;
}

.tap-details, .tuition {
    margin-top: 9%;
}

.half-off {
    text-align: center;
    color: white;
    text-shadow: 1px 1px gray;
    background: linear-gradient(
        to bottom,
        rgb(136, 174, 102),
        rgb(159, 206, 118)
    );
    padding: 1% 1%;
    font-weight: lighter;
    border-radius: 3px;
}

.tuition-box {
    background-color: white;
    border: 3px rgb(136, 174, 102) solid;
    border-radius: 10px;
    text-align: center;
    line-height: 1;
    margin-top: 2%;
    padding: 0 1%;
}

.box-heading {
    color: rgb(136, 174, 102);
    text-shadow:1px 1px rgb(0, 0, 0);
    font-weight: bolder;
}

.spacing {
    color: rgba(255, 255, 255, 0);
}

.tuition-box p {
    line-height: 1;
}

.discount {
    font-size: 15px;
    margin-top: 3px;
}

.tuition-button {
    display: inline-block;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 23px;
    background: linear-gradient(
        to bottom,
        rgb(136, 174, 102),
        rgb(159, 206, 118)
    );
    color: white;
    text-shadow: 1px 1px gray;
    border: 2px white solid;
    border-radius: 5px;
    padding: 1.5% 3%;
    margin-top: 25px;
    margin-bottom: 4%;
    cursor: pointer;   
}

.tuition-button:hover {
    color: gold;
    border: 2px gold solid;
}

.schedule {
    text-align: center;
}

.schedule h3 {
    line-height: 1.5;
}

h4 {
    margin-top: 10%;
}

.logo-styling {
    font-family: Oriya MN; 
    text-shadow: 2px 2px 2px rgb(174, 174, 174);
}

.schedule-times {
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    background-color: white;
    border: 2px gray solid;
    border-radius: 3px;
    box-shadow: 1px 1px rgb(65, 65, 65);
    width: 50%;
}

.sans {
    font-family: sans-serif;
}

.about {
    text-align: left;
    min-height: 200px;
    padding: 20% 8%; 
    background-color: white;
}

.dianna-info, .laurie-info, .jeff-info {
    margin-top: 5%;
}

.teacher-title {
    color: rgb(86, 141, 170);
    text-shadow: 1px 1px black;
    line-height: 1;
    margin-top: 0;
}

.large {
    display: none;
}

.teacher-name {
    margin-top: 5%;
    font-family: Questrial;
}

.bio-button {
    width: 40%;
    margin-top: 5%;
}

.bio-button:hover {
    text-shadow: 1px 1px rgb(125, 125, 125);
    border: 2px silver solid;
}

.about p {
    margin-top: 4%;
}

.about-second-sentence, .tuition-third-sentence {
    display: block;
    margin-top: 21px;
}

.laurie-pic-container {
    clear: left;
}

.jeff-pic-container {
    clear: left;
}

.head-shot {
    width: 40%;
    max-width: 250px;
    line-height: 0;
    margin-right: 5%;
    margin-bottom: 3%;
    float: left;
}

.container {
    text-align: left;
    min-height: 200px;
    padding: 14% 8%;
}

h3 {
    margin-left: 0;
    margin-top: 5%; 
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
}

.teacher-title {
    font-size:23px;
    margin-bottom: 3px;
}

.teacher-name {
    margin-top: 5px;
}

.bold {
    font-style: italic;
}

.contact-two a {
    color: rgb(67, 127, 159);
}

.contact-two a:hover {
    color: gold;
}

.times, .number {
    display: inline-block;
}

footer {
    margin-top: 2%;
}

footer ul {
    padding: 0;
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.social p {
    margin-top: 0;
    color: white;
    text-shadow: none;
}

.blink {
    animation: blink 3s ease-in infinite;
}

.social-title {
    display: none;
}
  
.social_icon {
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.fa {
    color: white;
}

.static {
    color: gold;
}

.fa:hover {
    color: gold;
}

.social-links:hover {
    color: gold;
}

#payment-information, #tech-tips, #student-registration, #portal-login {
    padding-top: 20%;
    text-align: center;
}

#order-form, #sign-up {
    min-height: 100vh;
}

.sign-up {
    background-image: url('images/springBackground.png'); 
    background-size: cover; 
    background-position: bottom left; 
    background-repeat: no-repeat;
}

.classInfo-container {
    background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.342), 
        rgba(255, 255, 255, 0.562)
        ), 
        url('images/canvasBackgroundD.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-position: bottom left; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 2%; 
    padding: 2%; 
    border: 1px green solid; 
    border-radius: 5px; 
    box-shadow: 2px 2px 10px black;
}

.flyer-title {
    display: block; 
    width: 98%; 
    max-width: 400px; 
    margin-left: auto; 
    margin-right: auto;
}

.flyer-subTitle {
    display: block; 
    width: 90%; 
    max-width: 350px; 
    margin-top: 2%; 
    margin-left: auto; 
    margin-right: auto;
}

.class-about {
    font-family: sans-serif; 
    font-weight: lighter; 
    text-align: center;
}

.six-week {
    font-weight: bold;
}

.flyer-list-container {
    background-color: white; 
    border: 1px gray solid; 
    border-radius: 3px; 
    padding: 1% 3%; 
    margin-top: 2%;
}

.flyer-list-title {
    color:rgb(136, 174, 102); 
    text-shadow: 1px 1px black; 
    margin-top: 0; 
    text-align: center;
}

.flyer-list {
    margin-left: 5%;
}

.instructor-container {
    margin-left: 2%; 
    margin-right: 2%;
}

.instructor-p {
    font-family: sans-serif; 
    font-weight: lighter; 
    color: gray; 
    text-shadow: 1px 1px black;
}

.class-deets-container {
    background-color: rgba(255, 255, 255); 
    border: 1px gray solid; 
    border-radius: 5px; 
    padding: 2%; 
    margin-top: 2%; 
    margin-bottom: 2%;
}

.questions-p {
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.562); 
    border: 2px rgb(136, 174, 102) solid; 
    border-radius: 5px;
}

.payment-types section {
    text-align: left;
}

.above {
    width: 40%;
    display: none;
    margin-left: 5%;
    float: right;
    border: 2px gray solid;
    box-shadow: 3px 3px 3px rgb(85, 85, 85);
}

.below {
    display: block;
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border: 2px gray solid;
    box-shadow: 3px 3px 3px rgb(85, 85, 85);
}

.qr-right {
    display: none;
}

.payment-credit {
    clear: right;
    width: 100%;
}

.payment-type-info {
    margin-top: 3%;
    font-weight: bold;
}

.tuition-two, .tips-box {
    margin-top: 5%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgb(85, 85, 85);
    padding: 3%;
}

.tuition-two {
    margin-bottom: 5%;
}

.tuition-two h3, .tips-box h3 {
    margin-top: 0;
    text-shadow: 1px 1px rgb(106, 105, 105);
}

.double-asterisk {
    margin-top: 1%;
}

.download-pdf {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

.techList-one {
    background: linear-gradient(
        to bottom,
        rgba(155, 155, 155, 0.66),
        rgba(128, 128, 128, 0.851)
    );
    color: white;
    text-shadow: 2px 2px 2px rgb(50, 50, 50);
    font-family: sans-serif;
    font-weight: lighter;
    padding: 2% 2% 3% 2%;
    margin-top: 2%;
    text-align: center;
}

.tech-tips {
    text-align: left;
}

#tech-tips li {
    list-style-position: inside;
    margin-top: 2%;
}

.considerations {
    text-align: center;
}

.login-container {
    line-height: 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 217, 0, 0.68),
        rgba(136, 174, 102, 0.858)
    );   
    padding: 3% 5%;
    max-width: 386px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.login-container, .certificate-container {
    min-height: 150px;
}

.login-p {
    text-align: center;
    margin-top: 50px; 
}

.login-form, .gift-form {
    position: relative; 
    bottom: 25px;
}

.loading {
    color: black; 
    text-shadow: 2px 2px 2px white;
    text-align: center; 
}

#student-registration {
    padding-right: 5%;
    padding-left: 5%;
}

.registration-container {
    line-height: 0;
    background: linear-gradient(
        to bottom,
        rgba(113, 148, 82, 0.673),
        rgba(136, 174, 102, 0.858)
    );   
    border-radius: 3px;
    padding: 3% 0 3% 0;
    max-width: 644px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0 }
}

@media screen and (min-width: 350px) {
    .small {
        display: none;
    }

    .large {
        display: inline;
    }
}

@media screen and (min-width: 457px) {
    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .main-jumper {
        top: 50px;
    }
}

@media screen and (min-width: 700px) {
    .navbar,
    footer {
        padding: 2% 3%;
    }

    .hamburger {
        display: none;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        font-family: 'Questrial', sans-serif;
    }
    
    .navbar > ul > li {
        margin-left: 30px;
    }
    
    .navbar > ul > .anchor:hover {
        color: gold;
        cursor: pointer;
    }

    .slider-menu {
        display: none;
    }

    h1 {
        margin-top: 3%;
        font-size: 40px;
    }

    .bold-text {
        font-size: 80px;
        font-weight: 500;
    }

    .hero-image {
        margin-top: 3%;
    }

    .jd-slideshow-text li div {
        left: 10%;
        width: 80%;
    }

    .jd-slideshow-text li div p {
        margin-top: 3%;
        font-size: 22px;
    }

    h1 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .main-jumper {
        top: 70px;
    }

    .valentines {
        padding: 15% 12%;
    }

    .canvas {
        Padding: 15% 12%;
        line-height: 2;
    }

    .lesson-title {
        display: block;
    }

    .toggle-button {
        display: none;
    }

    .bio-button {
        display: block;
    }

    .details {
        display: block;
    }

    .tuition-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tuition-box {
        width: 32%;
    }

    .container {
        padding-left: 12%;
        padding-right: 12%;
    }

    .about {
        Padding: 15% 8%;
    }

    .laurie-pic {
        margin-right: 0;
        margin-left: 5%;
        float: right;
    }

    .laurie-info .teacher-name, .laurie-info .teacher-title {
        text-align: right;
    }

    .laurie-info .bio-button {
        margin-right: 5%;
        margin-left: auto;    
    }

    .jeff-pic-container {
        clear: right;
    }

    .about-second-sentence, .tuition-third-sentence {
        display: inline;
        margin-top: 0;
    }

    .social-title {
        display: inline;
    }

    .fa {
        color: gold;
    }

    #payment-information, #tech-tips, #student-registration, #portal-login {
        padding-top: 15%;
        text-align: left;
    }

    #student-registration {
        padding-left: 12%;
        padding-right: 12%;
    }

    .above, .qr-right {
        display: inline;
    }

    .below, .qr-above {
        display: none;
    }

    .login-container {
        padding: 3% 3%;
    }

}

@media screen and (min-width: 1024px) {
    .name {
        font-size: 25px;
    }

    .navbar, footer {
        font-size: 23px;
        padding: 1.5% 3%;
    }

    .navbar > ul > li {
        margin-left: 50px;
    }

    h1 {
        margin-top: 6%;
        font-size: 50px;
    }

    .bold-text {
        font-size: 100px;
        font-weight: 500;
    }

    .hero-image {
        width: 250px;
        margin-top: 1%;
        margin-bottom: 0;
    }

    h1 {
        margin-bottom: 0;
    }

    .main-jumper {
        top: 105px;
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }

    .jd-slideshow-text li div p {
        margin-top: 6%;
        font-size: 25px;
    }

    header p {
        margin-top: 0;
        padding-top: 0;
    }

    .canvas, .container {
        padding: 9% 15%;
    }

    .about {
        Padding: 9% 8%;
    }

    h2 {
        font-size: 35px;
    }

    .discount {
        font-size: 18px;
        margin-top: 3px;
    }

    h3 {
        font-size: 27px;
    }

    #payment-information, #tech-tips, #student-registration, #portal-login {
        padding-top: 12%;
    }

    .invoice-asterisk {
        font-size: 20px;
    }

    .payment-credit {
        width: 50%;
    }

    .tuition-two p, .tips-box p {
        font-size: 20px;
    }

}